<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check in and out List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
  <div class="flex justify-center">
    <div class="p-10">
        <h1 class="text-2xl text-indigo-600">Check in and out List</h1>
        <div class="bg-indigo-600 w-5 h-1 rounded-full"></div>
    </div>
  </div>
  <div class="flex justify-center">
    <table class="border">
        <tr>
          <th class="border p-2 text-green-600">ID</th>
          <th class="border p-2 text-indigo-600">Name</th>
          <th class="border p-2 text-rose-600">Status</th>
        </tr>
        <% results.forEach(result => { %>
          <tr>
            <td class="border p-2 text-green-600"><%= result.id %></td>
            <td class="border p-2 text-indigo-600"><%= result.name %></td>
            <td class="border p-2 text-rose-600"><%= result.status %></td>
          </tr>
        <% }); %>
      </table>
  </div>
  <div class="flex justify-center p-5">
    <a href="/" class="bg-blue-600 px-5 rounded-md text-white shadow-md">Back to Home</a>
  </div>
</body>
</html>